
Test/UnitTest/obj/project.packagespec.json
Test/UnitTest/obj/project.assets.json
Test/UnitTest/obj/project.assets.json
Test/UnitTest/obj/project.packagespec.json
Test/UnitTest/obj/project.assets.json
Alexandria.net.sln.DotSettings.user
